.ticket-subject {
	text-transform: uppercase;
	font-weight: bold;
}
.buttons-reply {
	margin-top: 20px;
}
.buttons-reply .btn {
	margin-right: 5px;
}
.panel-heading-btn {
	margin-top: -4px;
}
.reply-hr {
	margin-top: 15px;
}
.text-number {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}
